<%- include('../include/header',{sitetitle:site_title,current_tab_name:current_tab}) %>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div id="resultshow" class="alert" style="display:none">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="material-icons">close</i>
                    </button>
                    <strong class="text-center"></strong>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="pull-left">
                            <h4 class="card-title pull-left">Add Page
                            </h4>
                        </div>
                        <div class="pull-right">
                            <a href="/email-templates" class="btn btn-success"> <i class="fa fa-arrow-left"></i> &nbsp;
                                All Pages</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <form name="editForm" id="editForm" method="post" action="">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">title *</label>
                                        <input id="ṁmn" name="title" type="text" class="form-control"
                                            value="<%= data.title %>" maxlength="30">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Slug *</label>
                                        <input id="slug" readonly type="text" class="form-control"
                                            value="<%= data.slug %>" maxlength="30">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Body *</label>
                                        <textarea name="content" id="content" rows="12"
                                            cols="80"><%= data.content %></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-success pull-right"
                                        style="margin-top:20px">Submit<div class="ripple-container"></div></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    CKEDITOR.editorConfig = function (config) {
        config.language = 'es';
        config.uiColor = '#F7B42C';
        config.height = 400;
        config.toolbarCanCollapse = true;

    };
    CKEDITOR.replace('content');
</script>
<script>
    $(document).ready(function () {
        $("#editForm").submit(function (e) {
            e.preventDefault();
        }).validate({
            ignore: [],
            rules: {
                title: "required",
                content: "required",
            },
            messages: {
                title: "Please enter title",
                content: {
                    required: "Please enter content for Page"
                }
            },
            /* use below section if required to place the error*/
            errorPlacement: function (error, element) {
                if (element.attr("name") == "content") {
                    error.insertBefore("textarea#content");
                } else {
                    error.insertBefore(element);
                }
            },
            submitHandler: function (form) {
                var id = "<%= data._id %>";
                $.ajax({
                    url: "/pages/" + id,
                    method: "POST",
                    data: $("#editForm").serializeArray(),
                    success: function (data) {
                        if (data.status) {
                            $('#resultshow').removeClass('alert-danger');
                            $('#resultshow').addClass('alert-success');
                            $('#resultshow strong').text(data.msg);
                            $('#resultshow').show();
                            setTimeout(function () { window.location.href = '/pages'; }, 111000);
                        } else {
                            $('#resultshow').removeClass('alert-success');
                            $('#resultshow').addClass('alert-danger');
                            $('#resultshow strong').text(data.msg);
                            $('#resultshow').show();
                        }
                    }
                });
            }
        });
    });
</script>
<%- include('../include/footer') %>