<%- include('../include/header',{sitetitle:site_title,current_tab_name:current_tab}) %>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header ">
                        <div class="pull-left">
                            <h4 class="card-title">All Pages -
                                <small class="description">All Pages will Appear Here</small>
                            </h4>
                        </div>
                        <div class="pull-right">
                            <a href="/pages/add" class="btn btn-success "><i class="fa fa-plus">Add Page</i></a>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div id="resultshow" class="alert" style="display:none">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <strong class="text-center"></strong>
                        </div>
                        <div id="errorshow" class="alert alert-warning" style="display:none">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                        <div class="material-datatables">
                            <table id="datatables" class="table table-striped table-no-bordered table-hover"
                                cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Sr. No.</th>
                                        <th>Title</th>
                                        <th>Slug</th>
                                        <th class="disabled-sorting text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <% for(var i=0; i < data.length; i++) { %>
                                    <tr>
                                        <td class="text-left"><%= i+1 %></td>
                                        <td class="text-left"> <% if (data[i].title) { %>
                                            <%= data[i].title %> <% } else { %> <%= '-' %> <% } %>
                                        </td>
                                        <td class="text-left"> <% if (data[i].slug) { %>
                                            <%= data[i].slug %> <% } else { %> <%= '-' %> <% } %>
                                        </td>
                                        <td class="text-right">
                                            <div class="pull-right">
                                                <a href="/pages/<%= data[i]._id %>"
                                                    class="btn btn-link btn-primary btn-just-icon remove editcatebtn"><i
                                                        class="material-icons">create</i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var openFile = function (event) {
        var input = event.target;

        var reader = new FileReader();
        reader.onload = function () {
            var dataURL = reader.result;
            var output = document.getElementById('imgbase64').value = dataURL;
        };
        reader.readAsDataURL(input.files[0]);
    };
    var openFileupdate = function (event) {
        var input = event.target;

        var reader = new FileReader();
        reader.onload = function () {
            var dataURL = reader.result;
            var output = document.getElementById('updateimgbase64').value = dataURL;
        };
        reader.readAsDataURL(input.files[0]);
    };
</script>
<script>
    $(document).ready(function () {
        $('#datatables').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            }
        });
    });
</script>
<%- include('../include/footer') %>