<%- include('../include/header',{sitetitle:site_title,current_tab_name:current_tab}) %>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div id="resultshow" class="alert" style="display:none">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="material-icons">close</i>
                    </button>
                    <strong class="text-center"></strong>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="pull-left">
                            <h4 class="card-title pull-left">Add Doctor
                            </h4>
                        </div>
                        <div class="pull-right">
                            <a href="/doctors" class="btn btn-success"> <i class="fa fa-arrow-left"></i> &nbsp;
                                All Doctors</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <form name="editForm" id="editForm" method="post" action="">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Name *</label>
                                        <input id="name" name="name" type="text" class="form-control" value=""
                                            maxlength="50">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Email *</label>
                                        <input id="email" name="email" type="email" class="form-control" value=""
                                            maxlength="50">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Mobile *</label>
                                        <input id="mobile" name="mobile" type="text" class="form-control" value=""
                                            maxlength="50">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Department *</label>
                                        <select name="department_id" id="department_id" class="form-control">
                                            <% for(let i=0; i < departments.length; i++) { %>
                                            <option value="<%= departments[i]._id %>"><%= departments[i].title %>
                                            </option>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">State *</label>
                                        <select name="state_id" id="state_id" class="form-control">
                                            <option value="">Select State </option>
                                            <% for(let i=0; i < states.length; i++) { %>
                                            <option value="<%= states[i]._id %>"><%= states[i].title %> </option>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">City *</label>
                                        <select name="city_id" id="city_id" class="form-control">
                                            <option value="">Select City </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-success pull-right"
                                        style="margin-top:20px">Submit<div class="ripple-container"></div></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#editForm").submit(function (e) {
            e.preventDefault();
        }).validate({
            ignore: [],
            rules: {
                name: "required",
                email: "required",
                department_id: "required",
                state_id: "required",
                city_id: "required",
            },
            messages: {
                name: "Please enter title",
                email: "Please enter email",
                department_id: "Please select department",
                state_id: "Please select state",
                city_id: "Please select city"
            },

            submitHandler: function (form) {
                $.ajax({
                    url: "/doctors/add",
                    method: "POST",
                    data: $("#editForm").serializeArray(),
                    success: function (data) {
                        if (data.status) {
                            $('#resultshow').removeClass('alert-danger');
                            $('#resultshow').addClass('alert-success');
                            $('#resultshow strong').text(data.msg);
                            $('#resultshow').show();
                            setTimeout(function () { window.location.href = '/doctors'; }, 1000);
                        } else {
                            $('#resultshow').removeClass('alert-success');
                            $('#resultshow').addClass('alert-danger');
                            $('#resultshow strong').text(data.msg);
                            $('#resultshow').show();
                        }
                    }
                });
            }
        });

        $("#state_id").on("change", function () {
            console.log("-aa")
            $.ajax({
                url: "/cities/get_city_state",
                method: "POST",
                dataType: "JSON",
                data: {state_id: $(this).val()},
                success: function (result) {
                    var cities = '<option value="">Select City</option>';
                    if (result.data.length) {
                        for (let index = 0; index < result.data.length; index++) {
                            const element = result.data[index];
                            cities += '<option value="'+element._id+'">'+element.title+'</option>';
                        }
                    }
                    $('#city_id').html(cities);
                }
            });

        })
    });
</script>
<%- include('../include/footer') %>