<%- include('../include/header',{sitetitle:site_title,current_tab_name:current_tab}) %>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div id="resultshow" class="alert" style="display:none">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="material-icons">close</i>
                    </button>
                    <strong class="text-center"></strong>
                </div>
                <div id="errorshow" class="alert alert-warning" style="display:none">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="material-icons">close</i>
                    </button>
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="pull-left">
                            <h4 class="card-title pull-left">View Doctors
                            </h4>
                        </div>
                        <div class="pull-right">
                            <a href="/doctors" class="btn btn-success"> <i class="fa fa-arrow-left"></i> &nbsp;
                                Back</a>
                        </div>
                    </div>
                    <div class="card-body">

                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group text-left">
                                        <h5><strong>Fullname: </strong> <%= data.name %></h5>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group text-left">
                                        <h5><strong>Email: </strong><%= data.email %></h5>
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="form-group text-left">
                                        <h5><strong>Department: </strong> <%= data.department_id.title %></h5>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group text-left">
                                        <h5><strong>State : </strong><%= data.state_id.title  %></h5>
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="form-group text-left">
                                        <h5><strong>City: </strong><%= data.city_id.title %></h5>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group text-left">
                                        <h5><strong>Mobile: </strong> <%= data.mobile %></h5>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../include/footer') %>