<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        <%= current_tab_name %> .::. <%= sitetitle %>
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport'>

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="/assets/css/material-dashboard.min.css?v=2.1.0" rel="stylesheet">
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="/assets/demo/demo.css" rel="stylesheet">
    <style>
    .fixed-plugin{display: none !important}
    </style>
    <script src="/assets/js/core/jquery.min.js"></script>
    <!-- include summernote css/js -->
<script src="https://cdn.ckeditor.com/4.11.3/standard/ckeditor.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
</head>

<body class="">

    <div class="wrapper ">
        <div class="sidebar" data-color="rose" data-background-color="black" data-image="/assets/img/sidebar-1.jpg">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="logo text-center">
                <a href="/dashboard" class="simple-text logo-mini">
                <img src="/assets/img/logo.png" width="50px" style="border-radius:100%">
                </a>
                <a href="/dashboard" class="simple-text logo-normal">
                <img src="/assets/img/logo.png" width="150px" style="border-radius:100%">
                </a>
                  
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item active ">
                        <a class="nav-link" href="/dashboard">
                            <i class="material-icons">dashboard</i>
                            <p> Dashboard </p>
                        </a>
                    </li>
                    
                    <li class="nav-item ">
                        <a class="nav-link" href="/users">
                            <i class="material-icons">account_circle</i>
                            <p> All Users </p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/doctors">
                            <i class="material-icons">account_circle</i>
                            <p> All Doctors </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/departments">
                            <i class="material-icons">reorder</i>
                            <p> Department Manager </p>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/email-templates">
                            <i class="material-icons">email</i>
                            <p>Email Template </p>
                        </a>
                    </li>  -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/pages">
                            <i class="material-icons">file_copy</i>
                            <p> All Pages </p>
                        </a>
                    </li>  -->
                    <li class="nav-item">
                        <a class="nav-link" href="/states">
                            <i class="material-icons">question_answer</i>
                            <p> States Manager </p>
                        </a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="/cities">
                            <i class="material-icons">flag</i>
                            <p> City Manager </p>
                        </a>
                    </li> 
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-minimize">
                            <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                                <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                                <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                            </button>
                        </div>
                        <a class="navbar-brand" href="/dashboard">Dashboard</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">
                   
                        <ul class="navbar-nav">
                            
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">person</i>
                                    <p class="d-lg-none d-md-block">
                                        Account
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                    <a class="dropdown-item" href="/change-password">Change Password</a>
                                    <a class="dropdown-item" href="/logout">Log out</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->