<%- include('../include/header',{sitetitle:site_title,current_tab_name:current_tab}) %>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div id="resultshow" class="alert" style="display:none">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="material-icons">close</i>
                    </button>
                    <strong class="text-center"></strong>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="pull-left">
                            <h4 class="card-title pull-left">Change Password
                            </h4>
                        </div>
                    </div>
                    <form name="changepassword" id="changepassword" method="post" action="">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Current Password *</label>
                                        <input type="password" id="current_password" class="form-control" name="current_password" maxlength="80">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">New Password *</label>
                                        <input name="password" id="password" type="password" class="form-control" maxlength="80">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Confirm Password *</label>
                                        <input name="password_confirmation" id="password_confirmation" type="password" class="form-control" maxlength="80">
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-link btn-success" catid=''>Submit</button>
                            <button type="reset" class="btn btn-danger btn-link" >Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $("#changepassword").submit(function(e) {
        e.preventDefault();
    }).validate({
        rules: {
            current_password: "required",
            password: {
                required: true,
            },
            password_confirmation: {
                required: true,
                equalTo: "#password"
            },
        },
        messages: {
            current_password: "Please enter current password",
            password: {
                required: "Please provide a password",
                minlength: "Your password must be at least 5 characters long"
            },
            password_confirmation: {
                required: "Please provide a password",
                equalTo: "Please enter the same password as above"
            },
        },
        submitHandler: function(form) {
            $.ajax({
                url: "/change-password",
                method: "POST",
                data: $("#changepassword").serializeArray(),
                success: function (data) {
                    if (data.status) {
                        $('#resultshow').removeClass('alert-danger');
                        $('#resultshow').addClass('alert-success');
                        $('#resultshow strong').text(data.msg);
                        $('#resultshow').show();
                        setTimeout(function () { location.reload(); }, 1000);
                    } else {
                        $('#resultshow').removeClass('alert-success');
                        $('#resultshow').addClass('alert-danger');
                        $('#resultshow strong').text(data.msg);
                        $('#resultshow').show();
                    }
                }
            });
        }
    });
});
</script>
<%- include('../include/footer') %>