<%- include('../include/header',{sitetitle:site_title,current_tab_name:current_tab}) %>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div id="resultshow" class="alert" style="display:none">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="material-icons">close</i>
                    </button>
                    <strong class="text-center"></strong>
                </div>
                <div id="errorshow" class="alert alert-warning" style="display:none">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="material-icons">close</i>
                    </button>
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="pull-left">
                            <h4 class="card-title pull-left">View User
                            </h4>
                        </div>
                        <div class="pull-right">
                            <a href="/users" class="btn btn-success"> <i class="fa fa-arrow-left"></i> &nbsp;
                                Back</a>
                        </div>
                    </div>
                    <div class="card-body">

                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group text-left">
                                        <h5><strong>Fullname: </strong> <%= data.fullname %></h5>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group text-left">
                                        <h5><strong>Email: </strong><%= data.email %></h5>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group text-left">
                                        <% var dob = new Date(parseInt(data.dob) * 1000) %>
                                        <h5><strong>Date of Birth: </strong><%= dob.toLocaleDateString() %></h5>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group text-left">
                                        <h5><strong>Facebook Id: </strong> <%= data.facebook_id %></h5>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group text-left">
                                        <h5><strong>Instagram ID: </strong><%= data.instagram_id     %></h5>
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="form-group text-left">
                                        <h5><strong>Gender: </strong><%= (data.gender)?"Male":"Female" %></h5>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group text-left">
                                        <h5><strong>Postal Code: </strong><%= data.postal_code %></h5>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group text-left">
                                        <h5><strong>Mobile: </strong> <%= data.mobile %></h5>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group text-left">
                                        <h5><strong>Image: </strong><%= data.image %></h5>
                                    </div>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../include/footer') %>