<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>404 Not Found .::. Cameo</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="/stylesheets/material-dashboard.min.css?v=2.1.0" rel="stylesheet" />
</head>

<body class="off-canvas-sidebar">
    <!-- Extra details for Live View on GitHub Pages -->
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="wrapper wrapper-full-page">
        <div class="page-header login-page header-filter" filter-color="black"
            style="background-image: url('/assets/img/clint-mckoy.jpeg'); background-size: cover; background-position: top center;">
            <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
            <div class="content-center">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="title">404</h1>
                        <h2>Page not found :(</h2>
                        <h4>Ooooups! Looks like you got lost.</h4>
                        <% if(role == 'mainadmin') { %>
                        <a href="/admin/dashboard" class="btn btn-primary btn-lg">Go Home<div class="ripple-container"></div></a>
                        <% } else if(role == 'subadmin') { %>
                        <a href="/subadmin/dashboard" class="btn btn-primary btn-lg">Go Home<div class="ripple-container"></div></a>
                        <% } else{ %>
                        <a href="/" class="btn btn-primary btn-lg">Go Home<div class="ripple-container"></div></a>
                        <% } %>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container">
                    <div class="copyright float-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>, made with <i class="material-icons">favorite</i> by
                        <a href="https://www.konstantinfo.com" target="_blank">Konstant </a> for a PetHQ.
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="/javascripts/core/jquery.min.js"></script>
    <script src="/javascripts/core/popper.min.js"></script>
    <script src="/javascripts/core/bootstrap-material-design.min.js"></script>
    <script src="/javascripts/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key="></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Chartist JS -->
    <script src="/javascripts/plugins/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="/javascripts/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="/javascripts/material-dashboard.min.js?v=2.1.0" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            md.checkFullPageBackgroundImage();
            setTimeout(function () {
                // after 1000 ms we add the class animated to the login/register card
                $('.card').removeClass('card-hidden');
            }, 700);
        });
    </script>
</body>

</html>