<%- include('include/header',{sitetitle:site_title,current_tab_name:current_tab}) %>
      <div class="content">
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              
                <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">account_circle</i>
                    </div>
                    <p class="card-category">Normal Users</p>
                    <h3 class="card-title">100</h3>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <i style="margin-top:-4px;margin-right:4px" class="material-icons"><i class="fa fa-eye"></i></i>
                      <a href="/admin/users/normal">View Users</a>
                    </div>
                  </div>
                </div>
              </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">how_to_reg</i>
                    </div>
                    <p class="card-category">Talents</p>
                    <h3 class="card-title">200</h3>
                  </div>
                <div class="card-footer">
                  <div class="stats">
                    <i style="margin-top:-4px;margin-right:4px" class="material-icons"><i class="fa fa-eye"></i></i>
                    <a href="/admin/users/shopowner">View Talents</a>
                  </div>
                </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                      <i class="fa fa-paw"></i>
                    </div>
                    <p class="card-category">Category</p>
                    <h3 class="card-title">566</h3>
                  </div>
          <div class="card-footer">
            <div class="stats">
              <i style="margin-top:-4px;margin-right:4px" class="material-icons"><i class="fa fa-eye"></i></i>
              <a href="/admin/users/veterinarian">View Category</a>
            </div>
          </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
<%- include('include/footer') %>