<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
  <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">
  <link rel="icon" href="/assets/img/favicon.png" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    <%= current_tab %> .::. <%= site_title %>
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="/stylesheets/material-dashboard.min.css?v=2.1.0" rel="stylesheet" />
</head>

<body class="off-canvas-sidebar">
  <!-- Extra details for Live View on GitHub Pages -->
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0"
      style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="wrapper wrapper-full-page">
    <div class="page-header login-page header-filter" filter-color="black"
      style="background-image: url('/assets/img/login.jpeg'); background-size: cover; background-position: top center;">
      <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
      <div class="container">
        <div class="row">

          <div class="col-lg-12 col-md-12">
            <% if(error != '' && error != undefined) { %>
            <div class="alert alert-warning">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
              </button>
              <strong><%= error %></strong>
            </div>
            <% } %>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
            <div id="resultshow" class="alert" style="display:none">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
              </button>

              </button>
              <strong class="text-center"></strong>
            </div>
            <div id="errorshow" class="alert alert-warning" style="display:none">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
              </button>
              <ul>
                <li></li>
              </ul>
            </div>
            <form class="form" method="" action="" style="margin-top:50px">
              <div class="card card-login card-hidden">
                <div class="card-header card-header-rose text-center">
                  <h4 class="card-title">Forgot Password</h4>
                </div>
                <div class="card-body ">
                  <span class="bmd-form-group">
                    <div class="input-group" style="padding:10px 10px 20px 10px">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">email</i>
                        </span>
                      </div>
                      <input id="username" type="email" class="form-control" placeholder="Email">
                    </div>
                  </span>
                  <span class="bmd-form-group">
                    <div class="input-group" style="padding:10px 0px 10px 15px">
                      <a class="forgot-password" href="/login">Login</a>
                    </div>
                  </span>
                </div>
                <div class="card-footer justify-content-center">
                  <button id="submitlogin" class="btn btn-rose btn-link btn-md"
                    style="background-color:#e91e63;color:#fff">Send Email</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="container-fluid">
            <div class="copyright float-right">
              &copy; Copyright PetHQ,
              <script>
                document.write(new Date().getFullYear())
              </script>

            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="/javascripts/core/jquery.min.js"></script>
  <script src="/javascripts/core/popper.min.js"></script>
  <script src="/javascripts/core/bootstrap-material-design.min.js"></script>
  <script src="/javascripts/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key="></script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Chartist JS -->
  <script src="/javascripts/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/javascripts/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/javascripts/material-dashboard.min.js?v=2.1.0" type="text/javascript"></script>
  <script>
    $(document).ready(function () {
      md.checkFullPageBackgroundImage();
      setTimeout(function () {
        // after 1000 ms we add the class animated to the login/register card
        $('.card').removeClass('card-hidden');
      }, 700);
    });
  </script>
  <script>
    $(document).ready(function () {
      $(document).on('click', '#submitlogin', function (e) {
        e.preventDefault();
        var username = $('#username').val();
        if (username != '') {
          $('#errorshow').hide();
          $('#submitlogin').text('Processing...');
          $('#submitlogin').attr('disabled', true);
          $.ajax({
            url: "/forgot-password",
            method: "POST",
            data: { email: username },
            success: function (data) {
              if (data.status) {
                $('#resultshow').removeClass('alert-danger');
                $('#resultshow').addClass('alert-success');
                $('#resultshow strong').text(data.msg);
                $('#resultshow').show();
                setTimeout(function () { window.location.href = '/login'; }, 1000);
              }else {
                $('#resultshow').removeClass('alert-success');
                $('#resultshow').addClass('alert-danger');
                $('#resultshow strong').text(data.msg);
                $('#resultshow').show();
                $('#submitlogin').text('Send Email');
                $('#submitlogin').attr('disabled', false);
              }
            },
            error: function (e) {
            }
          });
        } else {
          $('#resultshow').hide();
          $('#errorshow ul li').remove();
          if (username == '') {
            $('#errorshow ul').append('<li>Email is required</li>');
          }
          $('#errorshow').show();
        }
      });
    });
  </script>
</body>

</html>