<%- include('../include/header',{sitetitle:site_title,current_tab_name:current_tab}) %>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header ">
                        <div class="pull-left">
                            <h4 class="card-title">All Email Templates -
                                <small class="description">All Email Templates will Appear Here</small>
                            </h4>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div id="resultshow" class="alert" style="display:none">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <strong class="text-center"></strong>
                        </div>
                        <div id="errorshow" class="alert alert-warning" style="display:none">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                        <div class="material-datatables">
                            <table id="datatables" class="table table-striped table-no-bordered table-hover"
                                cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Sr. No.</th>
                                        <th>Subject</th>
                                        <th>Slug</th>
                                        <th class="disabled-sorting text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <% for(var i=0; i < data.length; i++) { %>
                                    <tr>
                                        <td class="text-left"><%= i+1 %></td>
                                        <td class="text-left"> <% if (data[i].subject) { %>
                                            <%= data[i].subject %> <% } else { %> <%= '-' %> <% } %>
                                        </td>
                                        <td class="text-left"> <% if (data[i].template_key) { %>
                                            <%= data[i].template_key %> <% } else { %> <%= '-' %> <% } %>
                                        </td>
                                        <td class="text-right">
                                            <div class="pull-right">
                                                <a href="/email-templates/<%= data[i]._id %>"
                                                    class="btn btn-link btn-primary btn-just-icon remove editcatebtn"><i
                                                        class="material-icons">create</i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editcatmodal" tabindex="-1" role="dialog" aria-labelledby="Edit Category"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Category</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
                <div class="modal-body card-profile text-left">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img id="catimage" class="img" src="/assets/img/change_default_category.jpg">
                        </a>
                    </div>
                    <form enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="resultshow1" class="alert" style="display:none">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <i class="material-icons">close</i>
                                    </button>
                                    <strong class="text-center"></strong>
                                </div>
                                <div id="errorshow1" class="alert alert-warning" style="display:none">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <i class="material-icons">close</i>
                                    </button>
                                    <ul>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group is-focused">
                                    <label class="bmd-label-floating is-focused">Name *(English)</label>
                                    <input id="editcatname" type="text" class="form-control" value="" maxlength="50">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group is-focused">
                                    <label class="bmd-label-floating is-focused">Name *(Arabic)</label>
                                    <input id="editcatname_ar" type="text" class="form-control" value="" maxlength="50">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="catupdatebtn" type="button" class="btn btn-link btn-success" catid=''>Update</button>
                    <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addcatmodal" tabindex="-1" role="dialog" aria-labelledby="Add Category"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Category</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
                <div class="modal-body card-profile text-left">
                    <form enctype="multipart/form-data" id="cataddform">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="resultshow2" class="alert" style="display:none">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <i class="material-icons">close</i>
                                    </button>
                                    <strong class="text-center"></strong>
                                </div>
                                <div id="errorshow2" class="alert alert-warning" style="display:none">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <i class="material-icons">close</i>
                                    </button>
                                    <ul>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Name *(English)</label>
                                    <input id="addcatname" type="text" class="form-control" value="" maxlength="50">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Name *(Arabic)</label>
                                    <input id="addcatname_ar" type="text" class="form-control" value="" maxlength="50">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="cataddbtn" type="button" class="btn btn-link btn-success" catid=''>Submit</button>
                    <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- small modal -->
    <div class="modal fade modal-mini modal-primary" id="myModal10" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-small">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                            class="material-icons">clear</i></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to do this?</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button id="deletecat" type="button" class="btn btn-success btn-link">Yes
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--    end small modal -->
</div>
<script>
    var openFile = function (event) {
        var input = event.target;

        var reader = new FileReader();
        reader.onload = function () {
            var dataURL = reader.result;
            var output = document.getElementById('imgbase64').value = dataURL;
        };
        reader.readAsDataURL(input.files[0]);
    };
    var openFileupdate = function (event) {
        var input = event.target;

        var reader = new FileReader();
        reader.onload = function () {
            var dataURL = reader.result;
            var output = document.getElementById('updateimgbase64').value = dataURL;
        };
        reader.readAsDataURL(input.files[0]);
    };
</script>
<script>
    $(document).ready(function () {
        $('#datatables').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            }
        });
    });
</script>
<%- include('../include/footer') %>