<%- include('../include/header',{sitetitle:site_title,current_tab_name:current_tab}) %>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div id="resultshow" class="alert" style="display:none">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="material-icons">close</i>
                    </button>
                    <strong class="text-center"></strong>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="pull-left">
                            <h4 class="card-title pull-left">Add Department
                            </h4>
                        </div>
                        <div class="pull-right">
                            <a href="/departments" class="btn btn-success"> <i class="fa fa-arrow-left"></i> &nbsp;
                                All Departments</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <form name="editForm" id="editForm" method="post" action="">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Title *</label>
                                        <input id="title" name="title" type="text" class="form-control"
                                            value="" maxlength="50">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-success pull-right"
                                        style="margin-top:20px">Submit<div class="ripple-container"></div></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#editForm").submit(function (e) {
            e.preventDefault();
        }).validate({
            ignore: [],
            rules: {
                title: "required",
            },
            messages: {
                title: "Please enter title"
            },
           
            submitHandler: function (form) {
                $.ajax({
                    url: "/departments/add",
                    method: "POST",
                    data: $("#editForm").serializeArray(),
                    success: function (data) {
                        if (data.status) {
                            $('#resultshow').removeClass('alert-danger');
                            $('#resultshow').addClass('alert-success');
                            $('#resultshow strong').text(data.msg);
                            $('#resultshow').show();
                            setTimeout(function () { window.location.href = '/departments'; }, 1000);
                        } else {
                            $('#resultshow').removeClass('alert-success');
                            $('#resultshow').addClass('alert-danger');
                            $('#resultshow strong').text(data.msg);
                            $('#resultshow').show();
                        }
                    }
                });
            }
        });
    });
</script>
<%- include('../include/footer') %>