<%- include('../include/header',{sitetitle:site_title,current_tab_name:current_tab}) %>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header ">
                        <div class="pull-left">
                            <h4 class="card-title">All Departments -
                                <small class="description">All Departments will Appear Here</small>
                            </h4>
                        </div>
                        <div class="pull-right">
                            <div class="pull-right">
                                <a href="/departments/add" class="btn btn-success "><i class="fa fa-plus">Add Department</i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div id="resultshow" class="alert" style="display:none">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <strong class="text-center"></strong>
                        </div>
                        <div id="errorshow" class="alert alert-warning" style="display:none">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                        <div class="material-datatables">
                            <table id="datatables" class="table table-striped table-no-bordered table-hover"
                                cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Sr. No.</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <!-- <th class="disabled-sorting text-right">Actions</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <%= data.length %> 
                                    
                                    <% for(let i=0; i < data.length; i++) { %>
                                    <tr>
                                        <td class="text-left"><%= i+1 %></td>
                                        <td class="text-left"> 
                                            <%= data[i].title %> 
                                        </td>
                                        <td>
                                            <div class="togglebutton pull-left">
                                                <label>
                                                    <input catid="<%= data[i]._id %>" class="statuschange"
                                                        type="checkbox" <% if (data[i].status == true) { %>
                                                        checked="checked" <% } %>>
                                                    <span class="toggle"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <!-- <td class="text-right">
                                            <div class="pull-right">
                                                <a href="/departments/<%= data[i]._id %>"
                                                    class="btn btn-link btn-primary btn-just-icon remove "><i
                                                        class="material-icons">search</i></a>
                                                
                                            </div>
                                        </td> -->
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- small modal -->
    <div class="modal fade modal-mini modal-primary" id="myModal10" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-small">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                            class="material-icons">clear</i></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to do this?</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button id="deletecat" type="button" class="btn btn-success btn-link">Yes
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--    end small modal -->
</div>
<script>
    $(document).ready(function () {
        $('#datatables').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            }
        });
    });
</script>
<script>
    $(document).on('change', '.statuschange', function () {
        catid = $(this).attr('catid');
        if ($(this).attr('checked')) {
            $(this).attr('checked', false);
            $(this).removeAttr('checked');
            var activeStatus = 'false';
        }
        else {
            $(this).attr('checked', true);
            $(this).removeAttr('checked', 'checked');
            var activeStatus = 'true';
        }
        console.log(activeStatus);
        if (catid != '' && activeStatus != '') {
            $('#errorshow').hide();
            $.ajax({
                url: "/departments/update-status",
                method: "POST",
                data: { _id: catid, status: activeStatus },
                success: function (data) {
                    if (data.status) {
                        $('#resultshow').removeClass('alert-danger');
                        $('#resultshow').addClass('alert-success');
                        $('#resultshow strong').text(data.msg);
                        $('#resultshow').show();
                    }
                    else {
                        $('#resultshow').removeClass('alert-success');
                        $('#resultshow').addClass('alert-danger');
                        $('#resultshow strong').text(data.msg);
                        $('#resultshow').show();
                    }
                },
                error: function (e) {
                }
            });
        }
        else {
            $('#resultshow').hide();
            $('#errorshow ul li').remove();
            if (catid == '') {
                $('#errorshow ul').append('<li>Something Went Wrong, Please Try again</li>');
            }
            $('#errorshow').show();
        }
    });
</script>
<script>
    $(document).ready(function () {
        $(document).on('click', '.deletecatbtn', function (e) {
            e.preventDefault();
            var catid = $(this).attr('catid');
            if (catid != '') {
                $('#errorshow').hide();
                $('#deletecat').attr('catid', catid);
                $('#myModal10').modal('show');
            }
            else {
                $('#resultshow').hide();
                $('#errorshow ul li').remove();
                if (catid == '') {
                    $('#errorshow ul').append('<li>Something Went Wrong, Please Try again</li>');
                }
                $('#errorshow').show();
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $(document).on('click', '#deletecat', function (e) {
            e.preventDefault();
            var catid = $(this).attr('catid');
            if (catid != '') {
                $('#errorshow').hide();
                $.ajax({
                    url: "/category/" + catid,
                    method: "DELETE",
                    success: function (data) {
                        if (data.status) {
                            $('#resultshow').removeClass('alert-danger');
                            $('#resultshow').addClass('alert-success');
                            $('#myModal10').modal('hide');
                            $('#resultshow strong').text(data.msg);
                            $('#resultshow').show();
                            setTimeout(function () { location.reload(); }, 1500);
                        }
                        else {
                            $('#resultshow').removeClass('alert-success');
                            $('#resultshow').addClass('alert-danger');
                            $('#myModal10').modal('hide');
                            $('#resultshow strong').text(data.msg);
                            $('#resultshow').show();
                        }
                    },
                    error: function (e) {
                    }
                });
            }
            else {
                $('#resultshow').hide();
                $('#errorshow ul li').remove();
                if (catid == '') {
                    $('#errorshow ul').append('<li>Something Went Wrong, Please Try again</li>');
                }
                $('#errorshow').show();
            }
        });
    });
</script>
<%- include('../include/footer') %>